spring:
  application:
    name: myspace
  datasource:
    url: jdbc:h2:mem:competitions_manager;DB_CLOSE_ON_EXIT=FALSE
    username: test
    password: test
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false
server:
  port: 7020